.product_card{
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: "Roboto", sans-serif;
}
.product_card_img{
    width: 212px;
}
.img_container{
    width: 285px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #ffbf9b;
    border-radius: 15px;
    cursor: pointer;
}
.product_inform_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 15px;
}
.product_card h3{
    font-size: 22px;
    font-weight: 700;
}

.product_card .deacription{
    color: #B1B1B1;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.product_price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.product_panel{
    display: flex;
    position: relative;
    bottom: 35px;
    left: 78px;
}
.product_plus, .product_minus{
    border-radius: 15px;
    border: 2px solid #FE5F00;
    color: #FE5F00;
    font-size: 25px;
    width: 25px;
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    cursor: pointer;
}
.product_minus{
    font-weight: 900;
}
.product_counter{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FE5F00;
}
.product_block{
    display: flex;
    gap: 50px;
    align-items: center;
}