.change_role_modal{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background: #000000b0;
}
.change_role_cont{
    width: 700px;
    height: 460px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 32px;
}
.profile_inform_cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile_inform{
    display: flex;
    flex-direction: column;
    width: 57%;
}
.profile_img{
    width: 40%;
}


.panel_change_role{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}
.comment{
    display: flex;
    flex-direction: column;
}
.role{
    display: flex;
    flex-direction: column;
}
.role_block{
    display: flex;
}
.user_name{
    font-size: 40px;
    color: #FE5F00;
}
.current_role{
    font-weight: 450;
    font-size: 25px;
}
.profile_role{
    align-items: end;
    display: flex;
    font-size: 20px;
    color: #9C9C9C;
    margin-left: 10px;
}
.description{
    font-weight: 440;
}
.comment{
    width: 50%;
}
.role{
    width: 50%;
    position: relative;
}

.comment_input{
    background-color: #9c9c9c67;
    font-size: 16px;
}

.comment p, .role p{
    font-size: 20px;
    font-weight: 440;
    margin-bottom: 10px;
}

.role_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.role_btn{
    width: 50%;
    height: 40px;
    padding: 15px;
    background-color: #9c9c9c67;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.role_btn_active{
    border: 1px solid;
}
.send_btn{
    width: 100%;
    height: 45px;
    padding: 15px;
    position: absolute;
    bottom: 1px;
    background-color: #9c9c9c67;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 450;
}


.close_modal_role{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 31%;
    margin-top: -15px;
    cursor: pointer;
}