.avatar_modal{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background: #000000b0;
}
.avatar_modal_cont{
    width: 1000px;
    height: 465px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 57px;
}
.modal_right{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.modal_inform{
    font-weight: 450;
    font-size: 20px;
    line-height: 28px;
}
.modal_panel{
    margin-top: 160px;
}

#avatar{
    font-size: 20px;
}

#avatarFormBtn{
    width: 100%;
    height: 55px;
    margin-top: 20px;
    border: none;
    font-size: 19px;
    font-weight: 450;
    background-color: #D9D9D9;
    cursor: pointer;
}